<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>


    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Go Green Initiative</div>
    <div class="address-bar"> 13A Dhanmondi | Dhaka, BD 90210 | 751083</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="home">Go Green Initiative</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="home">Home</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="blog">Blog</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <%= image_tag 'slide-4.jpg', :class => 'img-responsive img-full', :style => 'height: 500px;'%>
                            </div>
                            <div class="item">
                                <%= image_tag 'slide-5.jpg', :class => 'img-responsive img-full', :style => 'height: 500px;' %>
                            </div>
                            <div class="item">
                                <%= image_tag 'slide-6.jpg', :class => 'img-responsive img-full', :style => 'height: 500px;' %>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Let's</small>
                    </h2>
                    <h1 class="brand-name">Build Together</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>A
                            <strong>Better Tomorrow</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Story behind
                        <strong>GoGreenIn</strong>
                    </h2>
                    <hr>
                    <%= image_tag 'bg1.jpg', :class => 'img-responsive img-border img-left' %>
                    <hr class="visible-xs">
                    <p>Bangladesh green environment initiative is a nonprofit youth organization that deals to empowers groups through mentorship and social innovation to become changemakers, engaging them in active citizenship  </p>
                    <p>The organization’s mission is to provide the youth from all socio-economic backgrounds with a platform to make their voice heard and help fulfill their vision for a better world. In Bangladesh, where over 70% of the population is below 40, such a platform is vital to motivate and empower the next generation of leaders to become active citizens and community change makers.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Story behind
                        <strong>GoGreenIn</strong>
                    </h2>
                    <hr>
                    <p>At present environment has become a alarming issue for human living where people are not that much aware about it. They don’t even know how they are affecting the environment. Due to lake to rules & regulation the toxic gas emission rate is increasing day by day which can be result a destructive face for near future.</p>
                    <p>Ground water is the main resource of drinking and other work purpose. Within Dhaka city WASA is supplies more than 80% ground water & 20% surface water instead of having rich portion of surface water resource but people are not aware about how to handle all those resources & how to keep them safe.</p>
                    <p>Unbalanced waste disposal on water body spoil the quality of surface water & most important thing is people don’t even know about it. </p>
                    <p>The main target of BGEI is to reduce problems in Bangladesh regarding hygiene, sanitation, clean water problem, and also present situation of our environment which is getting worse day by day. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">What We Do
                        <strong></strong>
                    </h2>
                    <hr><p>
                    • Sanitation: present situation regarding sanitation in urban, undeveloped are like slum or other low living area. At present time they are not aware about hygienic sanitation. So we are helping people to live life in a hygienic way by providing facilities.<br>

• Education: provide facilities to slum people to get minimum educational knowledge<br>
• Health: people are not conscious about their health & other hygiene <br>
• Safe & clean water: having a lot of sources of clean water still people are having toxic substance contaminated water like arsenic .our work is to make people aware about it <br>
• Environmental issues: environment is now a alarming issue. Through providing facilities & training we make people aware about all those issues to reduce all those problem as far as human can avoid <br>
• Waste management: introducing waste separation method, handling, collection, transfer, disposal method to reduce contamination problem.<br>
• Disaster management: since Bangladesh is a disaster prone area. every year people are facing all flood and other problems which causes lots of losses. So our aim is to make people know about all precautions, and provide after disaster facility, rehabilitation, food supply, relief etc. </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our Goal
                        <strong></strong>
                    </h2>
                    <hr><p>
                    • Delivering services: provide adequate services related to requirement of human & environment<br>
• Training people: provide appropriate training to so that people will be able to face all those problems without any lacking.<br>
• Influencing people: influence people to adopt all those hygienic habits and acts to make their life safe and make the environment protected & clean.</p>
                  </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; GoGreenIn 2015</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
